Q1. What are data structures, and why are they important
- it is ways to organize and store data
- They are important because they allow us to manage and manipulate data

Q2. Explain the difference between mutable and immutable data types with examples
- Mutable data types can be changed after creation
- EX: list ,dict ,set
-Immutable data types cannot be changed after creation.
-EX:  str, tuple

Q3. What are the main differences between lists and tuples in Python
- list are slower and have mutable data
- ex: [1,2,3]
- Tuple are faster and have immutable data
- ex-(1,2,3)

Q4. Describe how dictionaries store data.
- Dictionaries store data in key-value pairs.
- Each key maps to a value.

Q5. Why might you use a set instead of a list in Python?
- You might use a set when:
- You need unique elements
- You want to perform set operations

Q6. What is a string in Python, and how is it different from a list
- A string is a data structure sequence of characters
- Strings are immutable, lists are mutable.

Q7. How do tuples ensure data integrity in Python?
- Tuples are immutable, which means once created, their values cannot be changed. This ensures that the data remains constant.

Q8. What is a hash table, and how does it relate to dictionaries in Python
-  hash table is a data structure that maps keys to values using a hash function.
- dictionary is implemented using a hash table.

Q9. Can lists contain different data types in Python
- Yes
- ex: list1 = [1, "hello", 3.14, True]

Q10. Explain why strings are immutable in Python.
- Because we can't change it after it created

Q11. What advantages do dictionaries offer over lists for certain tasks
- Ideal for scenarios where each item has a unique identifier

Q12. Describe a scenario where using a tuple would be preferable over a list.
- Tuples are best when:
  The data should not change

Q13. How do sets handle duplicate values in Python
- Sets automatically remove duplicates. They store only unique elements

Q14. How does the “in” keyword work differently for lists and dictionaries
- In lists, in checks if a value exists.
- In dictionaries, in checks if a key exists.

Q15. Can you modify the elements of a tuple? Explain why or why not.
- No, you cannot modify a tuple because it is immutable.

Q16. What is a nested dictionary, and give an example of its use case.
- A nested dictionary is a dictionary within another dictionary.
-student = {
    "name": "Mayank",
    "marks": {
        "math": 90,
        "science": 85
    }
}

Q17. Describe the time complexity of accessing elements in a dictionary.
- Average time complexity: O(1)
- Worst case: O(n),

Q18. In what situations are lists preferred over dictionaries?
- Use lists when:
- You need ordered data.
- You want to store a collection of values without keys.
- Index-based access is sufficient.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval
- Dictionaries are considered unordered because they store data using key-value pairs,
- so it retrive data from key value pair

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
- List: Retrieve data using index
- Dictionary: Retrieve data using key

In [ ]:
#1. Write a code to create a string with your name and print it
name = "mayank"
print(name)

mayank

In [ ]:
#2. Write a code to find the length of the string "Hello World"P
string = "Hello World"
print(len(string))

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
print(string[0:3])

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase
string = "hello"
print(string.upper())

HELLO

In [ ]:
#5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"
string = "I like apple"
print(string.replace("apple" , "orange"))

I like orange

In [ ]:
#6 . Write a code to create a list with numbers 1 to 5 and print it
list1 = []
for i in range(1,6):
  list1.append(i)
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
list1 = [1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list1 = [1,2,3,4,5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [ ]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list1 = ['a', 'b', 'c', 'd']
print(list1[1])

b

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
list1 = [10, 20, 30, 40, 50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [2]:
#11. Create a tuple with the elements 100, 200, 300 and print it
tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

In [3]:
#12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple1 = ('red', 'green', 'blue', 'yellow')
print(tuple1[-2])

blue

In [4]:
#13. Find the minimum number in the tuple (10, 20, 5, 15)
tuple1 = (10, 20, 5, 15)
print(min(tuple1))

5

In [5]:
#14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple1 = ('dog', 'cat', 'rabbit')
print(tuple1.index("cat"))

1

In [6]:
#15. Create a tuple containing three different fruits and check if "kiwi" is in it
tuple1 = ("apple" , "banana" , "kiwi")
print("kiwi" in tuple1)

True

In [7]:
#16. Create a set with the elements 'a', 'b', 'c' and print it
set1 = {"a","b","c"}
print(set1)

{'b', 'a', 'c'}

In [15]:
#17. Clear all elements from the set {1, 2, 3, 4, 5}
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [16]:
#18. Remove the element 4 from the set {1, 2, 3, 4}
set1 = {1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [19]:
#19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set.union(set1,set2))

{1, 2, 3, 4, 5}

In [20]:
#20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set.intersection(set1,set2))

{2, 3}

In [1]:
#21. Create a dictionary with the keys "name", "age", and "city", and print it
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [2]:
#22. Add a new key-value pair "country": "USA" to the dictionary
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [3]:
#23. Access the value associated with the key "name"
person = {'name': 'Alice', 'age': 30}
print(person["name"])  # Output: Alice

Alice

In [4]:
#24. Remove the key "age" from the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [5]:
#25. Check if the key "city" exists in the dictionary
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)  # Output: True

True

In [6]:
#26. Create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 7, 'b': 8}

In [7]:
#27. Create a list of 5 random numbers between 1 and 100, sort it, and print the result
import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[1, 69, 81, 82, 89]

In [8]:
#28. Create a list with strings and print the element at the third index
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])  # Output: date

date

In [9]:
#29. Combine two dictionaries into one and print the result
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [11]:
#30. Convert a list of strings into a set
string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print(string_set)

{'apple', 'cherry', 'banana'}